html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  padding-top: 4rem;
}

.robot {
  width: 320px;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: .9rem;
  left: 8.75rem;
}

.robot-head-right {
  top: -3rem;
  left: 50%;
  width: 125px;
  position: absolute;
}

.robot-head-left {
  width: 125px;
  position: absolute;
  top: -3rem;
  left: 11%;
}

.robot:hover .robot-head-left {
  top: 5%;
  left: 6%;
}

.robot:hover .robot-head-right {
  top: 5%;
  left: 55%;
}

.robot:hover .robot-brain {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
